system_ext/apex/com.android.vndk.v30.apex
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Messages/Messages.apk
product/app/YouTube/YouTube.apk
product/app/Maps/Maps.apk
product/app/Gmail2/Gmail2.apk
product/app/Photos/Photos.apk
system/system/priv-app/FPCamera/FPCamera.apk
