\sy\stem_ext/apex/com.android.vndk.v30.apex
product/priv-app/Velvet/Velvet.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Me\s\sage\s/Me\s\sage\s.apk
product/app/Photo\s/Photo\s.apk
